body {
  padding: 20px;
}

li {
  margin: 0 0 10px 0;
  border: 2px solid black;
  padding: 15px;
  list-style: none;
  background-color: rgb(255, 220, 220);
}

ul {
  list-style: none;
  padding: 0px;
}

label {
  display: block;
}

.add-bookmark-form-label, form button, .js-alter-list button, .js-filter-rating {
  margin-top: 15px;
}

h2, .desc-container {
  margin: 0;
  background-color: rgb(255, 180, 180);
}

.desc-container p {
  text-decoration: underline; 
}

.desc-container .display-description {
  text-decoration: none;
  font-style: italic;
}

.js-add-bookmark-form form {
  display: none;
  border: 2px solid darkgreen;
  padding: 15px;
  background-color: rgb(220, 255, 220);
}