@media only screen and (min-width: 600px) {
  div.add {
    box-sizing: border-box;
    width: 50%;
  }

  .js-add-bookmark-form {
    position: relative;
  }

  .add.rating {
    position: absolute;
    width: 50%;
    bottom: 76%;
    left: 50%;
  }

  .add.desc {
    position: absolute;
    width: 50%;
    bottom: 30%;
    left: 50%;
  }

  .form-buttons {
    margin-top: 45px;
  }

  .form-buttons button, .js-alter-list button, button.js-delete-bookmark {
    height: 30px;
  }

  .js-filter-rating {
    padding-right: 30px;
    text-align: center;
    float: right;
  }

  content {
    margin-top: 20px;
  }

}

@media only screen and (min-width: 1000px) {
  body {
    max-width: 1000px;
    margin: 0 auto;
  }

}